.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
}

.header nav {
    margin-left: auto;
}

.header nav {
    display: flex;
}

.header nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.header nav a:last-child {
    margin-right: 0;
}

