@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    min-height: 100vh;
    
}

body.dark {
    background-color: rgba(7, 0, 82, 1);
    color: white;
    margin: 0;
    transition: background 0.3s linear, color 0.3s linear;
    padding-top: 0;
    /* max-width: 1300px; */
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    /* max-width: 1300px; */

    margin: 0 auto;
    padding-bottom: 0;
    display: block;

}

body.light {
    background-color: #ffff;
    color: black;
    margin: 0;
    transition: background 0.3s linear, color 0.3s linear;
    padding-top: 0;
    /* max-width: 1300px; */
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    /* max-width: 1300px; */

    margin: 0 auto;
    padding-bottom: 0;
    display: block;


}

.page-loaded {
    height: 100vh;
    /* background: linear-gradient(135deg, rgba(220, 234, 255, 0.644) 25%, rgba(255, 146, 168, 0.712) 100%); */
    background-image: linear-gradient(to bottom right, #f7d6e0, #f9a8d4);
}