@tailwind base;
@tailwind components;
@tailwind utilities;



body.dark {
    background-color: rgba(7, 0, 82, 1);
    color: white;
    margin: 0;
    transition: background 0.3s linear, color 0.3s linear;
    padding-top: 0;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 1300px;

    margin: 0 auto;
    padding-bottom: 0;
    display: block;

}

body.light {
    background-color: #ffff;
    color: black;
    margin: 0;
    transition: background 0.3s linear, color 0.3s linear;
    padding-top: 0;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 1300px;

    margin: 0 auto;
    padding-bottom: 0;
    display: block;


}

.page-loaded {
    background: linear-gradient(to right, rgba(204, 221, 249, 1), rgba(251, 74, 109, 1));
}