.endSection {
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 200px;
}

.landingImg3 {
    height: 550px;
    width: 850px;
}

.second-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.small-para {
    font-size: 16px;
    margin-bottom: 50px;
}

.text {
    max-width: 530px;
    max-height: 400px;
    overflow: hidden;
}